<div style="margin-top: 10%" fxLayout.xs="column" fxLayout="row" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="5%">
  <mat-card fxLayoutGap="10%" fxLayout="column" fxFlex="40" fxFlex.sm="60">
    <span fxLayoutAlign="center">
      <img width="400" height="132" alt="censusIE Logo" src="{{logo_dir}}">
    </span>
        
    <section fxLayout="column" fxLayoutGap="10%">
        <p fxLayoutAlign="center">Checking with Google...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <br>
    </section>
    
  </mat-card>
</div>
